@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

#root {
  padding: 5vh 5vw;
}

.topbar {
  background-color: #0c979b;
  display: flex;
  justify-content: center;
  height: 7vh;
  padding: 1vh;
  width: 100vw;
}

#search-icon {
  height: 5vh;
}

.icon {
  width: 23px;
}

#submit {
  background-color: #0c979b;
  border: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.result-top {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1vw;
  margin-bottom: 5vh;
  width: 100%;
}

.content {
  justify-content: space-between;
}

.central {
  width: 70%;
}

.central > h2,
.side > h2 {
  margin-bottom: 1vh;
  width: 100%;
}

.central > p {
  display: block;
  width: 100%;
}

.side {
  width: 30%;
}

.header {
  width: 100%;
  margin-bottom: 1vw;
}

.column-2 {
  width: 20%;
}

.mayor-info {
  text-align: center;
  width: 33%;
}

.stat {
  font-size: 8rem;
  margin-bottom: 20px;
}

.full-page {
  position: relative;
  bottom: 5vh;
  right: 5vw;
  width: 95vw;
  height: 95vh;
  padding: 25vh 25vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.full-page > h1 {
  font-family: "Paytone One", sans-serif;
  font-size: 3rem;
  width: 100%;
}

.center-form {
  width: 100%;
}

.select > select {
  height: 50px;
  width: 20%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 10px;
}

.big-input {
  width: 70%;
  height: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.central-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 35%;
}

.create-input {
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.create-input > input {
  width: 100%;
  margin-bottom: 10px;
}

.submit-button {
  height: 30px;
  width: 20%;
  color: white;
  background-color: #0c979b;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.multi-secondary {
  height: 30px;
}

.hidden-input {
  height: 30px;
}

.link-input {
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.middle-select {
  width: 50%;
  height: 35px;
  margin: 0 0 20px 0;
}
