@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topbar {
  background-color: #0C979B;
  display: flex;
  justify-content: center;
  height: 7vh;
  padding: 1vh;
  width: 100vw;
}

#search-icon {
  height: 5vh;
}

.icon {
  width: 23px;
}

#submit {
  background-color: #0C979B;
  border: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}