@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

#root {
  padding: 5vh 5vw;
}

.topbar {
  background-color: #0C979B;
  display: flex;
  justify-content: center;
  height: 7vh;
  padding: 1vh;
  width: 100vw;
}

#search-icon {
  height: 5vh;
}

.icon {
  width: 23px;
}

#submit {
  background-color: #0C979B;
  border: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.result-top {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1vw;
  margin-bottom: 5vh;
  width: 100%;
}

.content {
  justify-content: space-between;
}

.central {
  width: 70%;
}

.central > h2,
.side > h2 {
  margin-bottom: 1vh;
  width: 100%;
}

.central > p {
  display: block;
  width: 100%;
}

.side {
  width: 30%;
}

.header {
  width: 100%;
  margin-bottom: 1vw;
}

.column-2 {
  width: 20%;
}
